<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
  <header class="h-12 w-full bg-purple-600 bg-opacity-75">
    <nav class="w-100">
    </nav>
  </header>
