<%- include('../partials/header'); %>
<main class="relative flex-1">
  <div>
    <% if (currentUser) { %>
      <p><%= currentUser %></p>
    <% } else { %>
      <p>LOL</p>
    <% } %>
  </div>
</main>
<%- include('../partials/footer'); %>
