<%- include('../partials/header'); %>
<main class="relative flex-1">
  <div class="container mx-auto mt-20 mb-5 p-6 w-full md:w-3/4 lg:w-2/4 text-gray-700 bg-gray-100 shadow-2xl rounded ring ring-inset ring-yellow-200">
    <form method="POST" action="">
      <div class="mb-3 flex flex-col items-center">
        <h2 class="mb-3 font-bold text-xl text-yellow-400">
          Become a Member
        </h2>
        <div class="mb-6 w-3/4">
          <label for="accessKey" class="mb-3 block">Membership Passcode</label>
          <input type="password" id="accessKey" name="accessKey" required class="mt-0 block w-full px-0.5 bg-gray-100 rounded border-0 border-b-2 border-yellow-400 focus:outline-none focus:border-yellow-200">
        </div>
        <p class="mb-4">Your best debugger friend, in camel case.</p>
        <div class="relative mb-12 w-3/4">
          <button type="submit" class="absolute ml-4 py-2 px-4 right-0 font-bold text-gray-500 bg-yellow-300 hover:bg-opacity-60 hover:text-gray-600 hover:border-gray-600 rounded ring-2 ring-inset ring-gray-500">Access</button>
        </div>
      </div>
    </form>
  </div>
</main>
<%- include('../partials/footer'); %>
